<div class="table-responsive">

    <div id="conversation"></div>

</div>
<div id="dashboard">
    <div id="chart" style='width: 900px; height: 500px;'></div>
    <div id="control" style='width: 900px; height: 50px;'></div>
</div>
<H2>List of trades & results(default: most recent first)</H2>
<div id="table_div"></div>
<H2>P&L</H2>
<div id="chart_div2"></div>

<div id="chart_div3"></div>
<div id="chart_div4"></div>


</div>

<script src="/js/dataProcessing.js"></script>
<script src="/js/charting.js"></script>
<script src="/js/realTimeCommunication.js"></script>

<script>
    var results = <%- JSON.stringify(r) %>;
    var array=results.ohlc.data;
    var equity = new Array();
    var events = new Array();
    var datesAndEvents = {};

    data=extractOHLC(array);
    events=extractEvents(results.pnl.event);
    equity=extractEquity(results.pnl.equity);
    myEvents=extractAnnotatedEvents(datesAndEvents);
    google.setOnLoadCallback(drawVisualization);

</script>

