<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link class="include" rel="stylesheet" type="text/css" href="../jqplot/jquery.jqplot.min.css" />
    <link rel="stylesheet" type="text/css" href="../jqplot/examples/examples.min.css" />
    <link type="text/css" rel="stylesheet" href="../jqplot/examples/syntaxhighlighter/styles/shCoreDefault.min.css" />
    <link type="text/css" rel="stylesheet" href="../jqplot/examples/syntaxhighlighter/styles/shThemejqPlot.min.css" />
    <script class="include" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div id="chart1" style="height:300px; width:500px;"></div>



<script type="text/javascript">
    $(document).ready(function(){
        var plot1 = $.jqplot ('chart1', [[3,7,9,1,5,3,8,2,5]]);
    });
</script>

</body>
<!-- Don't touch this! -->


<script class="include" type="text/javascript" src="../jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="../jqplot/examples/syntaxhighlighter/scripts/shCore.min.js"></script>
<script type="text/javascript" src="../jqplot/examples/syntaxhighlighter/scripts/shBrushJScript.min.js"></script>
<script type="text/javascript" src="../jqplot/examples/syntaxhighlighter/scripts/shBrushXml.min.js"></script>
<!-- End Don't touch this! -->

<!-- Additional plugins go here -->

<script class="include" type="text/javascript" src="../jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script class="include" type="text/javascript" src="../jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>

<!-- End additional plugins -->
<script type="text/javascript" src="../jqplot/examples/example.min.js"></script>
</html>